Repository mfalicoff/polyCalendar: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline --legacy-peer-deps

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: lint
  script:
  - cd client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  script:
  - cd server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
    - client/.next/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: build
  script:
  - cd server
  - npm run build:swc
  artifacts:
    paths:
    - server/dist/

redux implementation for class connection and page
  client/pages/index.tsx
  client/src/components/examples/counter/index.tsx
  client/src/components/examples/env/index.tsx
  client/src/components/forms/classForm.tsx
  client/src/redux/actions.ts
  client/src/redux/reducers.ts
  client/src/redux/slices/classes/index.ts
  client/src/redux/slices/counter/index.ts
  client/src/redux/store.ts
  client/src/services/class.service.ts
  client/tsconfig.json
  common/interfaces/class.interface.ts
  server/src/interfaces/calendar.interface.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server

fixing state and class display
  client/pages/index.tsx
  client/src/services/class.service.ts
Due: install:client, lint:client, build:client

added table for classes and showing groups
  client/pages/index.tsx
  client/src/components/forms/classForm.tsx
  client/src/interfaces/classes.interface.ts
  client/src/services/class.service.ts
  client/tsconfig.json
Due: install:client, lint:client, build:client

refactor table
  client/pages/index.tsx
  client/src/components/forms/classForm.tsx
Due: install:client, lint:client, build:client

adding env for client
  client/.gitignore
  client/env.sample
  client/next.config.js
  client/src/services/class.service.ts
Due: install:client, lint:client, build:client

adding docker for mongodb
  .gitignore
  server/mongoDB/docker-compose.yml
Due: install:server, lint:server, build:server

login system and mongo update
  client/.eslintignore
  client/next.config.js
  client/pages/login.tsx
  client/src/components/header/index.tsx
  client/src/redux/actions.ts
  client/src/redux/reducers.ts
  client/src/redux/slices/user/index.ts
  client/src/services/login.service.ts
  client/src/services/login.ts
  common/interfaces/users.interface.ts
  server/mongoDB/docker-compose.yml
  server/src/config/index.ts
  server/src/databases/index.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server

fix module import
  client/pages/signup.tsx
Due: install:client, lint:client, build:client

testing tauri install
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

update type
  client/src/components/forms/classForm.tsx
Due: install:client, lint:client, build:client

Update client/src/components/forms/classForm.tsx, .gitlab-ci.yml
  .gitlab-ci.yml
  client/src/components/forms/classForm.tsx
Due: install:client, lint:client, build:client

fix lint
  client/src/components/forms/classForm.tsx
Due: install:client, lint:client, build:client

added credits to class object
  common/interfaces/class.interface.ts
  server/package-lock.json
  server/src/controllers/class.controller.ts
  server/src/dtos/class.dto.ts
  server/src/models/class.model.ts
  server/src/services/scraper.service.ts
Due: install:server, lint:server, build:server

gitignore for macos
  .gitignore
Due: none

admin init, lint
  client/.eslintrc
  client/.prettierrc
  client/package-lock.json
  client/pages/_document.tsx
  client/pages/admin.tsx
  client/pages/index.tsx
  client/pages/login.tsx
  client/pages/signup.tsx
  client/src/components/button/index.tsx
  client/src/components/footer/index.tsx
  client/src/components/forms/classForm.tsx
  client/src/components/logo/index.tsx
  client/src/components/main/index.tsx
  client/src/components/mainContent/index.tsx
  client/src/redux/slices/classes/index.ts
  client/src/redux/store.ts
  client/src/services/class.service.ts
  client/src/services/login.service.ts
Due: install:client, lint:client, build:client

admin page calendar generation
  client/package-lock.json
  client/pages/admin.tsx
  client/src/components/center/index.tsx
  client/src/interfaces/calendar.interface.ts
  client/src/interfaces/constants.ts
  client/src/services/calendar.service.ts
Due: install:client, lint:client, build:client

refactor into components
  client/pages/admin.tsx
  client/src/components/forms/calendarForm.tsx
  client/src/components/index.ts
  client/src/components/table/calendarTable.tsx
Due: install:client, lint:client, build:client

admin page can connect to server
  client/src/components/forms/calendarForm.tsx
  client/src/services/calendar.service.ts
  server/.eslintrc
  server/.prettierrc
  server/src/config/index.ts
  server/src/controllers/calendar.controller.ts
  server/src/http/calendar.http
  server/src/interfaces/calendar.interface.ts
  server/src/middlewares/auth.middleware.ts
  server/src/middlewares/validation.middleware.ts
  server/src/models/calendar.model.ts
  server/src/routes/calendar.route.ts
  server/src/routes/class.route.ts
  server/src/routes/users.route.ts
  server/src/server.ts
  server/src/services/calendar.service.ts
  server/src/services/class.service.ts
  server/src/services/users.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server

ui work done
  client/pages/admin.tsx
  client/pages/index.tsx
  client/src/components/center/index.tsx
  client/src/components/forms/calendarForm.tsx
  client/src/components/index.ts
  client/src/components/input/input.tsx
  client/src/components/mainContent/index.tsx
  client/src/components/table/calendarTable.tsx
  client/tailwind.config.js
Due: install:client, lint:client, build:client

added semester name to form
  client/src/components/forms/calendarForm.tsx
  client/src/services/calendar.service.ts
  server/src/controllers/calendar.controller.ts
  server/src/interfaces/calendar.interface.ts
  server/src/interfaces/semester.interface.ts
  server/src/models/calendar.model.ts
  server/src/services/calendar.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server

fix class form and result
  client/src/components/forms/classForm.tsx
Due: install:client, lint:client, build:client

added calendar generation
  client/package-lock.json
  client/package.json
  client/pages/index.tsx
  client/src/components/table/calendarTable.tsx
  client/src/interfaces/calendar.interface.ts
  client/src/services/class.service.ts
  client/src/services/ics.service.ts
Due: install:client, lint:client, build:client

removed tauri build
  .gitlab-ci.yml
Due: none

basic calendar generation works
  client/.env.sample
  client/env.sample
  client/src/components/forms/calendarForm.tsx
  client/src/components/forms/classForm.tsx
  client/src/components/table/calendarTable.tsx
  client/src/services/ics.service.ts
Due: install:client, lint:client, build:client

added basic auth
  client/.env.sample
  client/pages/admin.tsx
  client/pages/login.tsx
  client/src/components/forms/calendarForm.tsx
  client/src/components/header/index.tsx
  client/src/components/index.ts
  client/src/components/withAuth/withAuth.tsx
  client/src/redux/slices/user/index.ts
  client/src/services/calendar.service.ts
  client/src/services/login.service.ts
  common/interfaces/users.interface.ts
  server/src/controllers/auth.controller.ts
  server/src/controllers/class.controller.ts
  server/src/middlewares/auth.middleware.ts
  server/src/routes/calendar.route.ts
  server/src/routes/class.route.ts
  server/src/routes/users.route.ts
  server/src/services/auth.service.ts
  server/src/services/calendar.service.ts
  server/src/services/class.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server

changed login to dropdown and notification banner
  client/pages/_app.tsx
  client/pages/login.tsx
  client/src/components/header/index.tsx
  client/src/components/header/loginForm.tsx
  client/src/components/notification/index.tsx
  client/src/components/withAuth/withAuth.tsx
  client/tailwind.config.js
Due: install:client, lint:client, build:client

ui work on notification banner
  client/src/components/header/loginForm.tsx
  client/src/components/notification/index.tsx
  client/tailwind.config.js
Due: install:client, lint:client, build:client

fix auth and scrape classes
  .gitignore
  client/src/services/calendar.service.ts
  server/src/controllers/class.controller.ts
  server/src/middlewares/auth.middleware.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server

changed calendar table to modal
  client/pages/index.tsx
  client/public/icons/download.svg
  client/src/services/ics.service.ts
  server/src/controllers/calendar.controller.ts
  server/src/routes/calendar.route.ts
  server/src/services/calendar.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server

removed console logs from client and clean up
  client/pages/index.tsx
  client/src/components/main/index.tsx
  client/src/components/table/calendarTable.tsx
  client/src/services/calendar.service.ts
  client/src/services/ics.service.ts
Due: install:client, lint:client, build:client

changed footer
  client/public/icons/gitlab-icon.svg
  client/src/components/footer/index.tsx
Due: install:client, lint:client, build:client

fix start script
  server/package.json
Due: install:server, lint:server, build:server

fix start
  server/package.json
Due: install:server, lint:server, build:server

fix login path
  client/src/services/login.service.ts
Due: install:client, lint:client, build:client

Path conditions:
  install:client: any of: client/**/*
  install:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  build:client: any of: client/**/*
  build:server: any of: server/**/*
